*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    user-select: none;
}
body{
    padding: 20px;
    background: #1F2732;
  /*  background-image: url(/Cases/Header-img/Photo.png);*/
}

/*.Encabezado-img{
    background-image: url(/Cases/Header-img/Photo.png);
    height: 70vh;
    width: 100%;
    display: flex;
}*/

/*IMAGENES*/
.Icon-logo{
    width: 50px;
}
.Icon-Attor{
    width: 200px;
}
.Icon-Icon1{
    width: 25px;
}
.Icon-Cart{
    width: 60px;
}
.Icon-Consult{
    width: 80%;
}
/*DIV*/
.Header-Principal{
    height: 100%;
    padding: 40px;
    display: flex;
    gap: 690px;
    align-items: center;
    justify-content: center;
    border-bottom: #4E555F solid;
}
.Content-left{
    display: flex;
    align-items: center;
}
.content-right-one{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.Content-right{
    display: flex;
    align-items: center;
    gap: 2rem;
}
.Espacio{
    width: 100%;
    height: 50px;
}
.Header-Secundario{
    display: flex;
    padding: 40px;
    gap: 450px;
    align-items: center;
    justify-content: center;
    border-bottom: #4E555F solid;
}
.Navegation-Ul a{
    color: white;
    gap: 20px;
}
.Content-Text{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}
.Content-Icon{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
/*BUTTON*/
.Btn-Consult{
    height: 50px;
    width: 150px;
    background: rgba(255, 255, 255, 0.10);
    border: none;
    cursor: pointer;
}
/*MAIN*/
.Main-Principal{
    display: grid;
    grid-template-columns: auto;
    gap: 30px;
    margin-top: 100px;
}
.Main-Content-One{
    display: flex;
    align-items: center;
    justify-content: center;
}
.Main-Content-Two{
    display: flex;
    align-items: center;
    justify-content: center;
}
.Main-Content-Three{
    display: flex;
    align-items: center;
    justify-content: center;
}
.Img-Main{
    display: flex;
    width: 93%;
}
