@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Luxurious+Script&display=swap");
/*------------------------------------------Estilos Banner-------------------------------------------------------  */
.Banner{
    display:flex;
    background-image: url(/imgs/img-Pratices/Fondo-Banner.png);
    background-color: #1F2732;
    padding: 2% 14% 8% 14%;
}
.Banner_Cuerpo{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.Cuerpo_Medio{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 8%;
    gap: 10px;
}
.Cuerpo_Medio h1{
    font-family: "Cormorant Garamond";
    font-size: 65px;
    font-weight: 700;
    line-height: 74px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
}
.Cuerpo_Medio img{
    width: 115px;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background:#1F2732;
}
.contenedor{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 7%;
    padding-top: 10%;
   
}
.Adres{
    width: 70%;
    display: flex;
    flex-direction: row;
}
.uno{
    width: 50%;
    border-right: 1px solid gray;
}
.section h2{
    font-family: "Cormorant Garamond";
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 0em;
    text-align: left;
    color: #D1B06B;
   
}
.section .titulo{
    color: #161D27;
    padding-bottom: 2%;
}
.section p{
    font-family: "Outfit";
    font-size: 18px;
    font-weight: 300;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: white;

} 
.numero h5{
    color: white;
    font-size: 20px;
}
.section .parrafo{
    width: 85%;
}
.dos{
    border-right: 1px solid gray;
    width: 25%;
    padding-left: 3%;
}
.tres{
    width: 25%;
    padding-left: 3%;
}





.frame{
    width: 70%;
    margin: auto;
    padding: 3% 0% 3% 0%;
    background: #161D27;
}
.frame_cuadro{
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   
}
.datos{
    width: 47%;
}
.parrafo{
    color: #e2e0e0;
    font-family: "Outfit";
    font-size: 13px;
    font-style: normal;
    font-weight: 200;
    text-align: start;
}
#mover{
    text-align: start;
    
}
.h4_diferente{
    padding-top: 3%;
    padding-bottom: 4%;
    
}
.h4_igual{
    padding-top: 10%;
    padding-bottom: 4%;

}
.datos_info{
    width: 100%;
    border: none;
    border-bottom: 1px solid rgb(212, 210, 210);
}
.mensaje{
    width: 48%;

}
.div_message{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: flex-end;
}
.div_vacio .your_message{
    padding-top: 5%;
    padding-left: 5%;
    color: #FFF;
}
.div_vacio{
    height: 60%;
    border: 1px solid  #fdd47b;
}
.mensaje button{
    display: flex;
    padding: 4% 6% 4% 6%;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #161D27;
    border: none;
    background: #CCAA60;
    cursor: pointer;
}
.mensaje button:hover{
    color: #CCAA60;
    border: 1px solid #CCAA60;
    background: #161D27;
}

.zona_comunica{
    width: 100%;
    padding-bottom: 10%;
    padding-top: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.zona_contacto{
  
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.div_llamadas{
    background: #161D27;
    width: 49%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.sections{
    display: flex;
    justify-content: center;
    align-items: center;
}
.article_img .img{
    width: 75%;
}
.article_numero h5{
    font-size: 12px;
    color: #CCAA60;
    font-family: "Outfit";
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
    
}
.article_numero h4{
    font-size: 15px;
    padding-top: 5px;
    color: #FFF;
    font-family: "Outfit";
    font-weight: 100;
    font-style: normal;
    line-height: normal;
}
.div_oficina{
    background: #161D27;
    width: 49%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3%;
    padding-bottom: 3%;
}
.article_img .imagen{
    width: 75%;

}
.sesion_oficina{
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;

  
}
.article_oficina h3{
    color: #FFF;
    font-family: "Outfit";
    font-size: 16px;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
}
.article_oficina h5{
    font-size: 12px;
    color: #CCAA60;
    font-family: "Outfit";
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
    padding-bottom: 5px;
    
}

















.hoja_lectura{
    background: white;
    padding-top: 10%;
   
 
}
.div_blanco{
    margin: auto;
    width: 70%;
    display: grid;
    column-gap: 57px;
    grid-template-rows: 35% 40% 40%;
    grid-template-areas:
        "section_uno    section_dos"
        "section_tres   section_cuatro"
        "section_cinco  section_seis";
}
.header{
    grid-area: header;
    margin: auto;
    width: 40%;
    gap: 20px;
    display: flex;
    flex-direction: column;
    margin-bottom: 5%;
   
}
.header h2{
    margin: auto;
}
.header .img{
    width: 12%;
    margin: auto;
}
.div_blanco .header{
  
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.section_uno{
    grid-area: section_uno;
    border-bottom: 1px solid rgb(187, 184, 184);
}
.section_dos{
    grid-area: section_dos;
    border-bottom:1px solid  rgb(187, 184, 184);
}
.section_tres{
    grid-area:section_tres ;
    border-bottom: 1px solid  rgb(187, 184, 184);
    padding-top: 40px;
}
.section_cuatro{
    grid-area: section_cuatro;
    border-bottom: 1px solid  rgb(187, 184, 184);
    padding-top: 40px;
}
.section_cinco{
    grid-area: section_cinco;
    border-bottom: 1px solid  rgb(187, 184, 184);
    padding-top: 40px;
}
.section_seis{
    grid-area: section_seis;
    border-bottom: 1px solid  rgb(187, 184, 184);
    padding-top: 40px;
}
.section .p{
    padding-top: 12px;
    color: #161D27;


}
.Contacto{
    padding-top: 15%;
    padding-bottom: 10%;
    width: 30%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 20px;

}
.Contacto h2{
    margin: auto;
}
.Contacto .parrafos{
    color: #909090;
    text-align: center;
    margin: auto;
}
.Contacto .bt_contacto{
    display: flex;
    padding: 15px 45px 15px 45px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: #D1B06B;
    margin: auto;
    border: none;
    color: black;
}
.Contacto .bt_contacto:hover{
    background: white;
    border:1px solid #D1B06B;;
}
.h2{
    color: #1F2732;
    font-family: Cormorant Garamond;
    font-size: 30px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: center;
}
.hoja_lectura .section{
    color: #909090;
    font-family: Outfit;
}





































