@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Luxurious+Script&display=swap");

/* -------------------------------------------------Estilos Abouts Us-------------------------------------------------------- */
.Abouts_Us {
    background-color: rgb(31, 39, 50);
    height: 100vh;
}

.Abouts_Cuerpo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: inherit;
    gap: 40px;
}

.imgs_Abouts {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.imgs_Abouts img {
    width: 350px;
}

.Texts_Abouts {
    display: flex;
    flex-direction: column;
    width: 115vh;
    gap: 30px;
}

.Texts_Titulo {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.Texts_Titulo img {
    width: 70px;
}

.Texts_Titulo h2 {
    font-family: "Cormorant Garamond";
    font-size: 40px;
    font-weight: 500;
    letter-spacing: 0em;
    text-align: left;
    color: white;
}

.Texts_Medio {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.Texts_Medio p {
    font-family: Outfit;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: rgb(215, 215, 215);
}

.Medio_img {
    display: flex;
    align-items: center;
    gap: 10px;
}

.Medio_img img {
    width: 60px;
}

.Medio_img h3 {
    font-family: "Luxurious Script";
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: left;
    color: rgb(255, 255, 255);
}

.Texts_Final {
    display: flex;
    gap: 30px;
}

.Texts_Final img {
    width: 70px;
    padding: 15px 0px 15px 20px;
}

.Texts_Final p {
    font-family: Outfit;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0em;
    text-align: left;
    padding-right: 30px;
}

.Cases_95 {
    display: flex;
    align-items: center;
    background-color: rgb(59, 67, 78);
    justify-content: center;
    gap: 10px;
    color: white;
}

.Years_Experiance {
    display: flex;
    align-items: center;
    background-color: rgb(209, 176, 107);
    gap: 10px;
}

.Years_Experiance img {
    width: 82px;
}



/* -------------------------------------------------Estilos Practis Areas-------------------------------------------------------- */
.Practis_Areas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(22, 29, 39);
    height: 150vh;
    padding: 100px;
}

.Practis_Cuerpo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.Practis_Encabezado {
    display: flex;
    width: 180vh;
    justify-content: space-between;
    align-items: center;
}

.Practis_Encabezado h2 {
    font-family: "Cormorant Garamond";
    font-size: 40px;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: 0em;
    text-align: left;
    color: rgb(255, 255, 255);
}

.Practis_Encabezado hr {
    border: 1px solid rgb(58, 69, 83);
    height: 90px;
    margin-top: 5px;
}

.Practis_Encabezado p {
    font-family: Outfit;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: rgb(215, 215, 215);
}

.Practis_Encabezado span {
    color: rgb(209, 176, 107);
}

.Practis_Article {
    display: grid;
    width: 180vh;
    grid-template-columns: auto auto auto;
    gap: 20px;
}

.article {
    display: flex;
    flex-direction: column;
    width: 353px;
    background-color: rgb(31, 39, 50);
    gap: 30px;
    padding: 30px;
}

.article h3 {
    font-family: "Cormorant Garamond";
    font-size: 28px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: left;
    color: rgb(255, 255, 255);
}

.article p {
    font-family: Outfit;
    font-size: 17px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    color: rgb(215, 215, 215);
}

.article hr {
    border: 1px solid rgb(58, 69, 83);
}

.button_Article {
    justify-content: space-between;
    display: flex;
    height: 40px;
}

.button_Article img {
    width: 50px;
}

.button_Article button {
    background-color: rgb(22, 29, 39);
    font-family: Outfit;
    font-size: 15px;
    font-weight: 500;
    border-style: none;
    width: 105px;
    color: rgb(255, 255, 255);
}

.button_Article button:hover {
    background-color: #D1B06B;
    color: #161D27;
}


/* -------------------------------------------------Estilos Counters-------------------------------------------------------- */
.Counters {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px;
}

.Counters_Cuerpo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 180vh;
    gap: 50px;
}

.Counters_Cuerpo hr {
    border: 1px solid rgb(203, 203, 203);
    width: 180vh;
}

.Counters_Encabezado {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 180vh;
    gap: 50px;
}

.Counters_Encabezado p {
    font-family: Outfit;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
    color: rgb(144, 144, 144);
}

.Counters_Titulo {
    display: inherit;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

.Counters_Titulo h2 {
    font-family: "Cormorant Garamond";
    font-size: 45px;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: 0em;
    text-align: center;
    color: rgb(22, 29, 39);
}

.Counters_Titulo img {
    width: 100px;
}

.statistics_Counters {
    display: flex;
    gap: 25px;
    width: 180vh;
    justify-content: space-between;
}

.statistics {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.statistics h4 {
    font-family: "Cormorant Garamond";
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 0em;
    text-align: left;
    color: rgb(22, 29, 39);
}

.statistics span {
    font-family: Outfit;
    font-size: 15px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: rgb(144, 144, 144);
}

.statistics img {
    width: 110px;
}

.Counters_logos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.Logo-Encabezado {
    width: 500px;
}

.Logos {
    width: 180vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 160px;
}



/* -------------------------------------------------Estilos History and Experiance-------------------------------------------------------- */
.History_Experiance {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 220vh;
}

.History_Experiance::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(/imgs/Img-Homepage/martillo_fondo.png);
    filter: grayscale(100%);
}

.History_Cuerpo {
    position: relative;
    z-index: 2;
    background-color: #1F2732D9;
    width: 200vh;
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    height: 170vh;
    padding: 50px;
    gap: 50px;
}

.History_Izquierda {
    gap: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 122vh;
}

.Izquierda_Titulo {
    display: flex;
    flex-direction: column;
}

.Izquierda_Titulo h2,
.Derecha_Titulo h2 {
    font-family: "Cormorant Garamond";
    font-size: 42px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
}

.Izquierda_Titulo img,
.Derecha_Titulo img {
    width: 100px;
}

.Izquierda_Cuerpo {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.article_Izquierda {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 56vh;
}

.article_Izquierda h5 {
    font-family: "Outfit";
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: #D1B06B;
}

.article_Izquierda p {
    font-family: Outfit;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: #D7D7D7;
}

.History_Medio {
    height: 125vh;
}

.History_Derecha {
    display: flex;
    flex-direction: column;
    height: 122vh;
    justify-content: space-between;
}

.Derecha_Titulo {
    display: flex;
    flex-direction: column;
}

.Derecha_Cuerpo {
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 72vh;
    height: 87vh;
}

.Derecha_Cuerpo p {
    font-family: "Outfit";
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: #D7D7D7;
}

.statistics_Experiance {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.Barras {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.Barras div {
    display: flex;
    justify-content: space-between;
}

.Barras h5 {
    font-family: "Outfit";
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
}

.Derecha_Cuerpo button {
    width: 240px;
    height: 100px;
    font-family: "Outfit";
    font-size: 22px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
    color: #1F2732;
    background-color: #D1B06B;
    border: none;
}



/* -------------------------------------------------Estilos Client Opinions-------------------------------------------------------- */
.Client_Opinions {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2732;
    height: 120vh;
}

.Client_Cuerpo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 70px;
    width: 190vh;
}

.Client_Encabezado {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.Client_Encabezado h2 {
    font-family: "Cormorant Garamond";
    font-size: 45px;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
}

.Client_Encabezado img {
    width: 100px;
}

.Client_Testimonial {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 15px;
}

.Client_Inverso {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.Client_Reverso {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.Inverso_Texto {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 35px;
    background-color: #2E3947;
    border-bottom-left-radius: 40px;
}

.Reverso_Texto {
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: #2E3947;
    padding: 35px;
    border-top-left-radius: 40px;
}

.Reverso_Texto img,
.Inverso_Texto img {
    width: 40px;
}

.Reverso_Texto p,
.Inverso_Texto p {
    font-family: "Outfit";
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: #D7D7D7;
}

.Persona_Reverso {
    display: flex;
    align-items: center;
    gap: 10px;
}

.Persona_Inverso {
    display: flex;
    align-items: center;
    gap: 10px;
}

.Persona_Reverso h4,
.Persona_Inverso h4 {
    font-family: "Cormorant Garamond";
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
}

.Persona_Reverso span,
.Persona_Inverso span {
    font-family: "Outfit";
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: center;
    color: #D7D7D7;
}



/* -------------------------------------------------Estilos Team-------------------------------------------------------- */
.Team {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 180vh;
    position: relative;
}

.Team_Cuerpo {
    display: flex;
    flex-direction: column;
    width: 180vh;
    align-items: center;
    justify-content: center;
    gap: 80px;
}

.Team_Encabezado {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.Team_Encabezado h2 {
    font-family: "Cormorant Garamond";
    font-size: 45px;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: 0em;
    text-align: center;
    color: #161D27;
}

.Team_Encabezado img {
    width: 105px;
}

.Team_Miembros {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 130px;
    align-items: center;
}

.Miembros_img {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 30px;
}

.Imagen_Miembros {
    display: flex;
    flex-direction: column;
    position: relative;
}

.Redes_Miembros {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    background-color: white;
    align-items: center;
    padding: 10px 15px;
    top: 90%;
    left: 66px;
}

.Redes_Miembros h3 {
    font-family: "Cormorant Garamond";
    font-size: 30px;
    font-weight: 700;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: center;
    color: #1C1C1C;
}

.Redes_Miembros span {
    font-family: "Outfit";
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
    color: #D1B06B;
}

.Redes_Miembros div {
    display: flex;
    gap: 20px;
}

.Redes_Miembros hr {
    border: 1px solid #D1B06B;
    width: 90px;
}

.Thomas,
.Nikolona,
.Michal {
    width: 60vh;
}

.Team_Miembros button {
    border: 1px solid #1F2732;
    width: 250px;
    margin-left: 44px;
    height: 70px;
    font-family: "Outfit";
    font-size: 22px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
    color: #1F2732;
    background-color: white;
    cursor: pointer;
}



/* -------------------------------------------------Estilos Consultation Contact-------------------------------------------------------- */
.Consultation_Contact {
    display: flex;
    height: 110vh;
    justify-content: center;
    align-items: center;
    background-color: #1F2732;
}

.Consultation_Cuerpo {
    display: flex;
    width: 180vh;
    justify-content: center;
    align-items: center;
    gap: 70px;
}

.Contacto {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100vh;
}

.Contacto h2 {
    font-family: "Cormorant Garamond";
    font-size: 38px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
}

.Contacto p {
    font-family: "Outfit";
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: #D7D7D7;
}

.Contacto button {
    border: none;
    background-color: #D1B06B;
    font-family: "Outfit";
    font-size: 22px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
    color: #1F2732;
    width: 260px;
    height: 70px;
    cursor: pointer;
}

.Number_Consulta {
    display: flex;
    background-color: white;
    height: 61vh;
    justify-content: center;
    align-items: center;
    width: 105vh;
}

.Free_Consultation {
    border: 14px solid #DFDFDF;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    height: 50vh;
    width: 80vh;
    padding: 24px;
}

.Free_Consultation h3 {
    font-family: "Cormorant Garamond";
    font-size: 40px;
    font-weight: 700;
    line-height: 45px;
    letter-spacing: 0em;
    text-align: left;
    color: #161D27;
}

.Free_Consultation p {
    font-family: "Outfit";
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    color: #909090;
}

.Call_Us {
    display: flex;
    align-items: center;
    gap: 10px;
}

.Call_Us img {
    width: 65px;
}

.Call_Us span {
    font-family: "Outfit";
    font-size: 18px;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    color: #1F2732;
}

.Call_Us h5 {
    font-family: "Outfit";
    font-size: 28px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: left;
    color: #161D27;
}



/* -------------------------------------------------Estilos Form-------------------------------------------------------- */
.Form{
    display: flex;
    height: 110vh;
    justify-content: center;
    align-items:center ;
    background-image: url(/imgs/Img-Homepage/Biblioteca-Fondo.jpg);
}
.form_Cuerpo{
    padding: 105px;
    display: flex;
    flex-direction: column;
    background-color: #1F2732;
    height: 80vh;
    width:160vh;
}
.form_Datos{
    display: grid;
    grid-template-columns: auto auto;
    height: 90px;
    gap: 40px;
}