@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
footer{
    background-color: hsl(215, 23%, 16%);
    padding: 14%;
}
.footer{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 150px;
}
.Footer_Encabezado{
    width: 100%;
}
.Footer_Encabezado img{
    width: 100%;
}
.Footer_Medio{
    display: flex;
    gap: 100px;
    width: 100%;
}
.Footer_Medio a{
    font-family: "Outfit";
    font-size: 20px;
    text-align: left;
    text-decoration: none;
    color: #D7D7D7;
    cursor: pointer;
}
.Footer_Medio h4{
    font-family: "Outfit";
    font-size: 20px;
    font-weight: 300;
    color: #D7D7D7 ;
}
.Titulos_Footer{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.Titulos_Footer h3{
    color: white;
    font-family: "Cormorant Garamond";
    font-size: 35px;
    font-weight: 300;
    letter-spacing: 0em;
    text-align: left;
}
.Titulos_Footer hr{
    border-color: #838393cc;
}
.Container{
    display: flex;
    flex-direction: column;
    gap: 40px;
    width:100%;
}
.Quick_Cuerpo{
display: flex;
color: #D7D7D7;
gap: 30px;
}
.Quicks{
display: flex;
flex-direction: column;
gap: 15px;
}
.Cuerpo{
display: flex;
flex-direction: column;    
gap: 15px;
}
.Contact_Cuerpo{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.Footer_Final{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.Footer_Final hr{
    border-color: #838393cc
}
.Final_Cuerpo{
    display: flex;
    justify-content: space-between;
    padding: 23px 0;
    align-items: center;
}
.Copyright{
    font-family: "Outfit";
    font-size: 22px;
    font-weight: 400;
    text-align: left;
    color: #D7D7D7;
}
.Copyright span{
    color: #D1B06B ;
}
.Redes{
    display: flex;
    gap: 15px;
    align-items: center;
}
.Redes img{
    height: 20px;
}
.Redes h4{
    font-family: "Outfit";
    font-size: 20px;
    font-weight: 400;
    text-align: left;
    color:  #D1B06B;
}